body {
    background-color: white;
}
.nav_container {
    background: rgba(0,0,0,0.8);
    padding: 0%;
    margin: 0%;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigation a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.li a:hover {
    background-color: gray;
}

/* Home Page */
.title_banner {
    background-image: linear-gradient(to right, #E66465, #9198E5);
    display: flex;
    align-items: center;
    height: 150px;
}

.title_banner .container h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.description {
    margin: 30px 0;
}

.description .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 60px;
}

/* Discription on home page. */
.discription_block {
    background-color: #bbb;
    width: 480px;
    height: 323px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.discription_block h2 {
    font-size: 26px;
    font-weight: 700;
}

.discription_block p {
    font-size: 22px;
    font-weight: 10;
}

/* Images */

.display_square_image {
    width: 480px;
    height: 323px;
    background-color: #cac8c8de;}

.display_circle_image {
    height: 323px;
    width: 323px;
    background-color: #bbb;
    border-radius: 50%;
}
