@import url(reset.css);
@import url(home.css);
@import url(projects.css);
@import url(join_us.css);
@import url(team.css);

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* ---------- Header ---------- */
.header {
    background-color: #A32221;
    padding: 15px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url(../IMG/logo.png);
    background-size: cover;
}

.header .nav-bar {
    display: flex;
    width: 40%;
    justify-content: space-between;
    font-size: 22px;
}

.header .nav-bar__item a {
    text-decoration: none;
    color: #FFF;
    padding: 13px;
}


/* ---------- Footer ---------- */
.footer {
    background-color: #353535;
    padding: 20px 0;
}

.footer .container p {
    color: #FFF;
    font-size: 24px;
    margin-bottom: 20px;
}

.footer .links {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.footer .links a {
    color: #FFF;
    padding: 15px;
}

.footer .links a:first-child {
    padding-left: 0;
}

.footer .links i {
    font-size: 24px;
}

